:root {
	--foreground-color: #000000;
	--background-color: #FFFFFF;
	--button-foreground-color: #000000;
	--button-background-color: #FFFFFF;
	--button-clicked-color: #ffd700;
}

body {
	font: 12px sans-serif;
	font-family: sans-serif;
	padding:0;
	margin:0;
	background-color : var(--background-color);
	overflow: auto;
	color: var(--foreground-color);
}

.title{
	font-size:48px;
	padding:2px;
}
.subTitle{
	font-size:24px;
	padding:2px;
	padding-left:8px;
	padding-top:12px;
}
.para{
	font-size:20px;
	padding:2px;
	padding-left:60px;
}
.bordered{
	border: 1px solid black;
}
.scrollable{
	overflow:auto;
}
.buttonDiv{
	padding: 0px;
	margin: 0px;
	text-align: center;
	border: 2px solid var(--button-foreground-color);
	/*border-radius: 5px;*/
	opacity: 1.0;
	display:block;
	font-size:20px;
	color: var(--button-foreground-color);
	background-color:var(--button-background-color);
	cursor: pointer;
}
.buttonHover:hover {
	background-color: var(--button-foreground-color);
	color: var(--button-background-color);
}
.buttonClicked {
	background-color: var(--button-clicked-color);
	/*color: var(--button-background-color);*/
}

.tooltip{
	position:absolute;
	height:auto;
	width: auto;
	padding: 10px;
	margin: 0px;
	z-index: 4;
	background-color: lightgray;
	text-align: center;
	border: 2px solid var(--button-clicked-color);
	/*opacity: 0.0;
	display: none;*/
}
.close{
	position:absolute;
	top:2px;
	left:2px;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	padding: 0;
	border: 2px solid;
	text-align: center;
	font: 32px Arial, sans-serif;
	color: var(--button-foreground-color);
	background-color:var(--button-background-color);
	cursor:pointer;
}

.tooltipContent{
	margin-left: 40px;
	color:black;
}
